// ============================================================
// modules/workspaces.kdl
// Named workspaces with Nerd Font icons on LG (DP-1).
// ====================================

workspace " term" {
    open-on-output "DP-1"
}
workspace " web" {
    open-on-output "DP-1"
}
workspace "󰳆 dev" {
    open-on-output "DP-1"
}
workspace " docs" {
    open-on-output "DP-1"
}
workspace " conf" {
    open-on-output "DP-1"
}
workspace " s1b" {
    open-on-output "DP-1"
}
workspace " sec" {
    open-on-output "DP-1"
}
workspace " chill" {
    open-on-output "DP-1"
}
workspace " games" {
    open-on-output "DP-1"
}
workspace " wm" {
    open-on-output "DP-1"
}
