layout {

    focus-ring {
        active-color   "#13336c"
        inactive-color "#d5e1f6"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#13336c"
        inactive-color "#d5e1f6"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#c2c9d670"
    }

    tab-indicator {
        active-color   "#13336c"
        inactive-color "#668acc"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#13336c80"
    }
}

recent-windows {
    highlight {
        active-color "#13336c"
        urgent-color "#fd4663"
    }
}
